<div class="content">
    <button class="circle blue" style="background-color: #92C5FF; border: #429AFF 2px solid;">
        <a href="/users"><p>Seznam</p></a>
    </button>

    <button class="circle green" style="background-color: #C6FFC0; border: #80E587 2px solid; width: 200px; height: 200px;">
        <a href=""></a><p style="font-size: 30px;">Hrát</p>
    </button>

    <button class="circle red" style="background-color: #FF9292; border: #E58080 2px solid;">
        <a href="/user"><p>Přidat</p></a>
    </button>
</div>

<style>
    .circle {
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }

    button p {
        font-weight: 800;
        color: black;
        font-size: 20px;
        text-decoration: none;
        text-transform: none;
    }

    .content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    button {
        background-color: none;
        border: 2px solid;
    }
</style>