<div class="content">
    <div class="circle blue" style="background-color: #92C5FF; border: #429AFF 2px solid;">
        <a href="/seznam"><p>Seznam</p></a>
    </div>

    <div class="circle green" style="background-color: #C6FFC0; border: #80E587 2px solid; width: 200px; height: 200px;">
        <a href="/hra"><p style="font-size: 30px;">Hrát</p></a>
    </div>

    <div class="circle red" style="background-color: #FF9292; border: #E58080 2px solid;">
        <a href="/pridat"><p>Přidat</p></a>
    </div>
</div>

<style>
    .circle {
        height: 150px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }

     p {
        font-weight: 800;
        color: black;
        font-size: 20px;
        text-decoration: none;
        text-transform: none;
    }

    .content {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    button {
        background-color: none;
        border: 2px solid;
    }
</style>