<link rel="stylesheet" href="style.css">
<div class="card">
  <form id="createForm">
    <div class="row">
      <input name="name" placeholder="Zadejte český překlad..." required />
      <input type="number" name="age" min="0" placeholder="Zadejte anglický překlad..." required />
      <input type="text">
    </div>
    <button type="submit" id="pridat">Přidat</button>
    <p class="muted" id="createMsg"></p>
  </form>
</div>
<!--
<div class="card">
  <h2>Seznam uživatelů</h2>

  <table>
    <thead>
      <tr>
        <th>ID</th><th>Jméno</th><th>Věk</th><th>Akce</th>
      </tr>
    </thead>
    <tbody>
      {{rows}}
    </tbody>
  </table>

  <p class="muted">Tip: Smazání je přes DELETE, editace přes PUT (odesílá se přes JS fetch).</p>
</div>
-->