<div class="content">

  <form id="createForm">
      <div id="createMsg" style="color: red; margin-bottom: 10px;"></div>
    <div class="row">
      <input type="text" name="cz" required placeholder="Český překlad"/>
    </div>
    <div class="row">
      <input type="text" name="en" required placeholder="Anglický překlad"/>
    </div>
    <div class="row">
      <!-- <input type="text" name="lvl" required placeholder="Úroveň"/> -->
      <select name="lvl" id="lvl">
            <option value="A1">A1</option>
            <option value="A2">A2</option>
            <option value="B1">B1</option>
            <option value="B2">B2</option>
            <option value="C1">C1</option>
            <option value="C2">C2</option>
      </select>
    </div>

    <div class="buttons">
      <button type="submit">Přidat</button>
    </div>
  </form>
</div>

<style>
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  #createForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height: 220px;
    padding: 0;
    box-shadow: 0 0 10px rgb(0, 0, 0, 30%);
  }

  .row {
    width: 80%;
  }

  .row input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    color: black;
    height: 35px;
    font-weight: 600;
    padding: 10px 10px;
    font-family: Poppins;
  }

  #lvl {
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #D9D9D9;
    color: black;
    height: 35px;
    font-weight: 600;
    font-family: Poppins;
    outline: none;
    padding: 0px 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  button {
    background-color: #92C5FF;
    border: 2px solid #429AFF;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
  }

  .back {
    background-color: #92C5FF;
    border: 2px solid #429AFF;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    text-transform: none;
    color: black;
  }
</style>