<div class="content">
    <div class="frame">
        <div class="filtr">
            
        </div>
        <div class="seznam">
            <div>
                <div class="top">
                    <p class="info">cz</p>
                    <p class="main">Ahoj</p>
                </div>
                <div class="line"></div>
                <div class="bottom">
                    <p class="info">en</p>
                    <p class="main">Hello</p>
                </div>
            </div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
            <div>ahoj</div>
        </div>
    </div>
</div>



<style>
    .content {
        width: 100%;
        height: 100vh;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .frame {
        background-color: green;
        width: 80%;
        height: 80%;
        overflow: hidden;
    }
    .filtr {
        width: 100%;
        height: 40px;
        background-color: pink;
    }

    .seznam {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 20px; 
        width: 100%; 
    }

    .seznam > div {
        background-color: white;
        border-radius: 15px;
        padding: 16px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 30%);
    }

    .top {
        display: flex;
        gap: 5px;
        margin-top: -15px;
        margin-bottom: -15px;
        justify-content: start;
        align-items: end;
    }

    .bottom {
        display: flex;
        gap: 5px;
        margin-bottom: -15px;
        justify-content: start;
        align-items: start;
    }

    .main {
        font-size: 22px;
    }

    .info {
        color: rgb(148, 148, 148);
    }

    .line {
        width: 95%;
        height: 2px;
        border-radius: 10px;
        background-color: rgb(148, 148, 148);
        margin-bottom: -15px;
    }
</style>