:root {
    --primary-shadow: 0px 0px 20px rgb(0, 0, 0, 40%);
    --rd-color: #D9D9D9;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

#createForm {
    background-color: white;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 20px 20px;
    position: relative;
    box-shadow: var(--primary-shadow);
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pridat  {
    margin: auto;
}

.card {
    width: 100%;
    height: 100%;
}

.row input {
    width: 100%;
    height: 30px;
    gap: 20px;
    margin-bottom: 10px;
    border-color: var(--rd-color);
}